<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href='/static/todo.css' />
    </head>
    <body>
        <h1>To-do list:</h1>
        <form method="post">
        <input type="text" name="new_task" /></ p>
        <button type="submit">Add</button>
        </form>

        <form method="post">
        <ul>
        {% for task in todo %}
            {% if task.done == True %}
                <li class="done">
            {% else %}
                <li>
            {% endif %}

            {{ task.text }} 
            <input type="checkbox" name="done" value="{{ task.id }}" title="done/undone"/>
            <input type="checkbox" name="delete" value="{{ task.id }}" title="delete" />
            </li>


        {% endfor %}
        </ul>
        <button type="submit">Update</button>
        </form>
    </body>
</html>
